body {
  font-size: 16px; }

.wrapper {
  text-align: center;
  margin: 50px auto; }
  .wrapper .video-container {
    margin: 0 auto;
    width: 50%;
    min-width: 640px;
    position: relative;
    border: 2px #aaaaaa solid; }
    .wrapper .video-container .watermark {
      position: absolute;
      top: 20px;
      right: 20px; }
      .wrapper .video-container .watermark img {
        width: 100px;
        height: auto;
        opacity: 0.5; }
    .wrapper .video-container #canvas-video {
      width: 100%;
      height: auto; }
  .wrapper .controls {
    margin: 20px auto; }
    .wrapper .controls .command {
      padding: 0.5em 0;
      width: 100px;
      margin: 5px auto;
      background-color: #aaaaaa; }
      .wrapper .controls .command.left, .wrapper .controls .command.right {
        display: inline-block; }
      .wrapper .controls .command.active {
        border: 2px red dotted; }
